importlib_metadata==8.5.0
cookiecutter==2.6.0
click==8.1.7
flask==3.1.1
sqlalchemy==2.0.41
gunicorn==23.0.0
flask_wtf==1.2.2
mysqlclient==2.2.7
PyJWT==2.10.1
redis==6.2.0
aiomysql==0.2.0
alembic==1.16.2
fastapi-csrf-protect==1.0.3
python-multipart==0.0.20
flask_login==0.6.3
build==1.2.2
aiohttp==3.9.1
llama-index==0.12.50
llama-index-embeddings-openai==0.3.1
llama-index-vector-stores-milvus==0.8.6
huggingface-hub==0.33.2
tiktoken==0.9.0
transformers==4.53.0
tokenizers==0.21.2