.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.container-main {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.modal-fullscreen .modal-dialog {
    max-width: 95vw;
    margin: 1rem auto;
}

.modal-fullscreen .modal-content {
    height: 100vh;
    overflow-y: auto;
}

.modal-scroll-body {
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 1rem;
}


.scroll-stable {
    overflow-y: auto;
    scrollbar-gutter: stable;
    padding-right: 1rem;
}

.scroll-stable::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

.scroll-stable:hover::-webkit-scrollbar {
    width: 8px;
}

.scroll-stable:hover::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.4);
    border-radius: 4px;
}
